@font-face {
    font-family: OpenSans-Quark;
    src: url(font/quark/Quark-Light.otf);
}

@font-face {
    font-family: OpenSans-Quark;
    src: url(font/quark/Quark-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: OpenSans-Quark;
    src: url(font/opensans/OpenSans-Light.ttf);
    unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

@font-face {
    font-family: OpenSans-Quark;
    src: url(font/opensans/OpenSans-Bold.ttf);
    font-weight: bold;
    unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}

* {
    font-family: OpenSans-Quark, Helvetica, sans-serif;
}

html{
    height: 100%;
}

body {
    font-size: 1.25rem;
    height: 100%;
}

.header {
    background-color: #ffd110;
    text-align: center;
    font-size: 1rem;
    /* color: white; */
}

.header nav {
    background-color: #4f4e4e;
    font-size: large;
}

#myContainer{
    min-height: 100%;
}

.footer {
    background-color: #ffd110;
    padding: 1em;
    /* padding-top: 2rem; */
    color: black;
    text-align: center;
    font-size: 0.75em;
}

.accountBTN {
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-radius: 0.5em;
    background-color: #ffd110;
    font-weight: bold;
}

.accountBTN a{
    text-decoration: none;
    color: inherit;
}

.accountBTN:hover{
    color: white;
    background-color: #ffd11050;
}

nav img {
    height: 4rem;
}

hr {
    border-color: #ffd110;
    border-width: thick;
}

.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.stepactive {
    opacity: 1;
}

.stepfinish {
    background-color: #4CAF50;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
    margin-bottom: 0;
}

input.error, textarea.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

.inputerror {
    border: 1px solid red;
    font-weight: 300;
}

.adminSignIn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: #ffffff98;
    padding: 2em;
    border-radius: 0.5em;
}

.adminSignInPage{
    background-image: url(../public/img/P1010518.JPG);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100%;
    width: 100%;
}

.Menu{
    background-color: #4f4e4e;
    /* position: fixed; */
    /* height: 100vh; */
    width: 25%;
    color: white;
}

/* .Board{ */
    /* height: 100vh; */
    /* position: absolute;
    left: 25; */
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 25;
    width: 75%; */
/*} */


#adminMode{
    display: none;
}
#adminmenu{
    display: block;
}

#memberMode{
    display: none;
}
#membermenu{
    display: block;
}

.circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #ffd110;
    padding: 1.5rem;
    color: white;
}

.circle:hover{
    background-color: #ffd11050;
    transition: 0.2s;
}

.circle+label{
    color: black;
}

.deleteName {
    color: red;
}

@media screen and (max-width: 994px) {
    body {
        font-size: 1rem;
    }
    .topbar {
        font-size: 0.75rem;
    }
    nav img {
        height: 3rem;
    }
    #adminMode{
        display: block;
    }
    #adminmenu{
        display: none;
    }
    #memberMode{
        display: block;
    }
    #membermenu{
        display: none;
    }
}

/*เพิ่ม*/
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 15px;
    background: #299be4;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn {
    color: #566787;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn:hover, .table-title .btn:focus {
    color: #566787;
    background: #f2f2f2;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.settings {
    color: #2196F3;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}
.text-success {
    color: #10c469;
}
.text-info {
    color: #62c9e8;
}
.text-warning {
    color: #FFC107;
}
.text-danger {
    color: #ff5b5b;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}
.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}
.pagination li.active a:hover {
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

table.table td a.btn {
    color: black;
    text-decoration: none;
}

.disabled-button {
    pointer-events: none;
    border-color: #949494;
}

.pdpa-box {
    color: white;
    background-color: #949494;
    padding: 1rem;
}

.pdpa-box a {
    color: white;
}

.pdpa-box-hide {
    display: none;
}

.presentation-list {
    background-color: white;
    padding: 1rem;
    border: #ffd110 solid 5px;
    border-radius: 1rem;
}

.presentation-list li {
    margin-top: 1rem;
}

.presentation-list h4 {
    font-weight: bolder;
}
